<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>¿Quienes somos?</title>
  </head>
  <body>
    <div class="w3-container w3-purple" style="margin-bottom: 14px">


            <div>
                        </center>

                </div>
    <div class="cajas">

	<div class="cuadro container">
		<center><i class="fa fa-eye fa-4x Psicoloca" aria-hidden="true"></i></center>
		<center><h3>Visión</h3></center>
		<p>
			Como centro psicopedagógico nos planteamos el objetivo de dar respuestas educativas pertinentes a cada caso en particular, siendo un aporte significativo tanto en el estudiante como en las familias de los mismos.
		</p>
	</div>
	<div class="cuadro container">
		<center><i class="fa fa-rocket fa-4x Psicoloca" aria-hidden="true"></i></center>
		<center><h3>Misión</h3></center>
		<p>
			Ofrecer atención psicopedagógica integral a domicilio a niños y niñas desde los 4 años  hasta los 17 años, abarcando todo el proceso educativo convencional, atendiendo las necesidades educativas de cada estudiante. Entregando un servicio individualizado y de calidad que responde a las posibles dificultades del aprendizaje.
		</p>
	</div>
	<div class="cuadro container">
		<center><i class="fa fa-heart fa-4x Psicoloca" aria-hidden="true"></i></center>
		<center><h3>Nosotros</h3></center>
		<p>
			Somos un centro psicopedagógico que posee formación en las áreas de Pedagogía y Psicología. Base  que nos permite evaluar los procesos del aprendizaje. Conjuntamente podemos identificar, prevenir y superar dificultades aplicando estrategias psicopedagógicas específicas para cada caso en particular. Realizamos evaluaciones psicopedagógicas; para diseñar, desarrollar y evaluar labores que potencien los procesos socioafectivos, cognitivos e instrumentales que están a la base del aprendizaje.
			nuestra formación ética se sustenta en los valores del respeto, tolerancia, honestidad, responsabilidad y compromiso social.
		</p>
	</div>
	</div>
</div>

 <div class="w3-container w3-blue" style="margin-bottom: 14px">


         <div>
                <center class="center" style= "padding-top: 40px; font-size: 30px" <h2>Nuestros Servicios</h2>
                     </center>

             </div>


             <div class="cajas">

               <div class="cuadro container">
                   <center class="center"><h3>Psicopedagogía</h3></center>
                   <center class="center"><i class="fa fa-graduation-cap fa-4x Psicopeda" aria-hidden="true"></i></center>
                   <p>Profesionales especialistas en el aprendizaje, en prevención, detección y diagnóstico de las dificultades de aprendizaje, potenciando los procesos del desarollo cognitivo, socio afectivo e instruemetales que están a la base de la enseñanza - aprendisaje. </p>
                 </div>

               <div class="cuadro container">
                   <center class="center"><h3>Fonoaudiología</h3></center>
                   <center class="center"><i class="fa fa-graduation-cap fa-4x Fonoaudio" aria-hidden="true"></i></center>
                   <p>Profesionales especialistas del lenguaje, enfocado a niños y niñas, proporcioanndo terapias con dificultades en el habla y en la expresión del lenguaje. </p>
                 </div>

               <div class="cuadro container">
                   <center class="center"><h3>Psicología</h3></center>
                   <center class="center"><i class="fa  fa-graduation-cap fa-4x Psicoloca" aria-hidden="true"></i></center>
                   <p>Profesionales especialistas en el área infantil y juvenil, abordando alteraciones en la conducta, alteraciones en el estado de animo y las emociones, dificultades psicoeducacionales, inamdurez y trastorno específico del desarrollo. </p>
                 </div>

             </div>

 </div>


   <div class="w3-container w3-purple" style="margin-bottom: 14px  ; padding: 14px ;">

         <div class="w3-center" style="margin: 14px; font-size: 30px;">
           Ubicacion
         </div>

         <div class="w3-center">

           <p>Estamos ubicados en Estado 215 piso 6 oficina 614 , te estaremos esperando!</p></h3>


         </div>

         <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3329.3383039016876!2d-70.6514954853052!3d-33.440491604386224!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662c5a16316d54d%3A0xdccc746c92887a56!2sEstado+215%2C+Santiago%2C+Regi%C3%B3n+Metropolitana!5e0!3m2!1ses!2scl!4v1506558639352" width="100%" height="300px" frameborder="0" style="border:0" allowfullscreen=""></iframe>
   </div>
</body>
</html>

<!DOCTYPE html>
