<!DOCTYPE html>
<html>
	<head>

		<meta charset="utf-8">


		<title>
		</title>

	</head>


	<body>
		<div class="fourteen columns offset-one  center">
   <%= image_tag "niño.jpg", :alt => "niño", :title => "niño"%>
</div>

<div class="w3-container w3-white" >

<H3 align=center>
<FONT FACE="impact" SIZE=6 COLOR="red">

			un compromiso con el niño y su familia ...</FONT>

		</H3>

<FONT SIZE=4>

		La psicopedagogía es una disciplina que aborda procesos psicoeducativos relacionados con el aprendizaje, donde se analizan las habilidades cognitivas e instrumentales para realizar intervenciones que permitan al niño, joven o adulto, potenciar tanto sus habilidades académicas como sus aspectos metacognitivos.

		Se aplica a los procesos educacionales entregando herramientas (métodos, técnicas y procedimientos) orientadas a obtener un proceso de enseñanza-aprendizaje más adecuado a las necesidades educativas de cada persona.
</font>
</div>



	</body>


</html>
