<div>	

	<dir class="imagen_principal ">
		<div class="w3-display-middle">
		<h1>Centro Construyamos</h1>
		<p>Atención a domicilio.</p>
		<p>Orientado a un aprendizaje integral.</p>
	    </div>
	</dir>
		



<h1></h1>
<p>Horario de atencion de llamadas</p>
<h4>De lunes a domingo de 8:00 a las 19:00</h4>


</div>
