<h1>Nuevo Servicio</h1>

<%= render 'form', servicio: @servicio %>

<dir><%= button_to "Atras", servicios_path, :method => :get , class: "w3-button w3-border w3-green w3-hover-blue boton_padding" %> </dir>