<div class = "row center-xs">
  <div class="col-xs-8 col-md-8">
    <div class="Box formulario">
                

          <p id="notice"><%= notice %></p>

          <h1>Listado de administradores</h1>

          <table>
            <thead>
              <tr>
                <th>Nombre</th>
                <th>Email</th>
                <th colspan="3"></th>
              </tr>
            </thead>

            <tbody>
              <% @administrador.each do |administrador| %>
                <tr>
                  <td class="padding_table"><%= administrador.nombre %></td>
                  <td class="padding_table"><%= administrador.email %></td>
                  <td class="color-blanco-botones-tabla"><button class = 'imagen_eliminar'> 
                                      
                      </button>
                    
                  </td>
                  <td class="color-blanco-botones-tabla" >
                      <button class = 'imagen_eliminar'> 
                                      
                      </button>


                    
                  </td>
                  <td class="color-blanco-botones-tabla"><button class = 'imagen_eliminar'> 
                      </button>

                  </td>

                </tr>
              <% end %>
            </tbody>
          </table>

    </div>
  </div>
</div>