
 <div class="w3-container" style="margin-bottom: 14px ; background-color:rgba(255,255,255,0.6);">

			<h1>Editar Profesion</h1>


			<%= render 'edit', profesion: @profesion %>


			<%= link_to 'Show', @profesion %> |
			<%= link_to 'Back', profesions_path %>
</div>