<h1>Nuevo Profesion</h1>

<%= render 'form', profesion: @profesion %>

<dir><%= button_to "Atras", profesions_path, :method => :get , class: "w3-button w3-border w3-green w3-hover-blue boton_padding" %> </dir>