// Place all the styles related to the historia controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

p {
  image: url(/assets/MISION_v_v.png);
}
body {
  background: {
     image: asset_url("fondo.jpg");
  }
}
